.settings/
.buildpath
.project
conf/*.conf.php
conf/config.inc.php
cgi-bin/
lib/vcard
lib/vcard-transliterator
src/services/addressbook/out.log
store/rechnungen
store/protokolle/*
store/orgelpics/*
lib/tFPDF/font/unifont/dejavusanscondensed-bold.cw127.php
lib/tFPDF/font/unifont/dejavusanscondensed-bold.mtx.php
lib/tFPDF/font/unifont/dejavusanscondensed.mtx.php
lib/tFPDF/font/unifont/dejavusanscondensed.cw127.php
lib/tFPDF/font/unifont/*.dat
resources/graser_import/*.xlsx
resources/graser_import/*.csv
resources/bente_import/*.csv
resources/bente_import/*.sql
vendor/*
backup/*.sql.gz
resources/fo_import/*.csv
resources/fo_import/*.wdb
resources/vorlagen/*.sql
resources/vorlagen/*.docx
resources/vorlagen/*.rtf
usage/
.htaccess
