.settings/
.buildpath
.project
conf/*.conf.php
lib/vcard
lib/vcard-transliterator
src/services/addressbook/out.log
store/rechnungen
store/protokolle/*.pdf
lib/tFPDF/font/unifont/dejavusanscondensed-bold.cw.dat
lib/tFPDF/font/unifont/dejavusanscondensed-bold.cw127.php
lib/tFPDF/font/unifont/dejavusanscondensed-bold.mtx.php
resources/graser_import/*.xlsx
resources/graser_import/*.csv
vendor/*
